# R

### DataFrames

Utilidade: Manipulação de dados.

In [1]:
# importando biblioteca
# install.packages("tidyverse")
library("tidyverse")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
sp500 = read_csv('data/sp500.csv')

── Column specification ────────────────────────────────────────────────────────
cols(
  symbol = col_character(),
  date = col_date(format = ""),
  open = col_double(),
  high = col_double(),
  low = col_double(),
  close = col_double(),
  volume = col_double()
)

### Mensurando tempo de exeução da leitura dos dados

In [5]:
system.time(read_csv('data/sp500.csv'))

── Column specification ────────────────────────────────────────────────────────
cols(
  symbol = col_character(),
  date = col_date(format = ""),
  open = col_double(),
  high = col_double(),
  low = col_double(),
  close = col_double(),
  volume = col_double()
)

   user  system elapsed
  0.391   0.004   0.396

#### Mostrando as 10 primeiras linhas

In [9]:
head(sp500, 10)

   symbol date       open     high     low      close    volume
1  AAL    2014-01-02  25.0700  25.8200  25.0600  25.3600  8998943
2  AAPL   2014-01-02  79.3828  79.5756  78.8601  79.0185 58791957
3  AAP    2014-01-02 110.3600 111.8800 109.2900 109.7400   542711
4  ABBV   2014-01-02  52.1200  52.3300  51.5200  51.9800  4569061
5  ABC    2014-01-02  70.1100  70.2300  69.4800  69.8900  1148391
6  ABT    2014-01-02  38.0900  38.4000  38.0000  38.2300  4967472
7  ACN    2014-01-02  81.5000  81.9200  81.0900  81.1300  2405384
8  ADBE   2014-01-02  59.0600  59.5300  58.9400  59.2900  2746370
9  ADI    2014-01-02  49.5200  49.7500  49.0400  49.2800  2799092
10 ADM    2014-01-02  43.2200  43.2900  42.7900  42.9900  2753765

#### Selecionando apenas uma coluna

In [10]:
head(sp500$close)
head(sp500[,"close"])

# em R não é necessário fazer a cópia

[1]  25.3600  79.0185 109.7400  51.9800  69.8900  38.2300

  close
1  25.3600
2  79.0185
3 109.7400
4  51.9800
5  69.8900
6  38.2300

In [15]:
sp500[sp500$volume<1000,]

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 O      2016-01-12    NA    NA    NA 52.4300   0
5 UA     2016-04-07    NA    NA    NA 41.5600   0
6 FTV    2016-07-01    NA    NA    NA 49.5400   0
7 BHF    2017-07-26    NA    NA    NA 69.0842   3
8 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101

In [14]:
sp500 %>%
    filter(volume<1000)

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 O      2016-01-12    NA    NA    NA 52.4300   0
5 UA     2016-04-07    NA    NA    NA 41.5600   0
6 FTV    2016-07-01    NA    NA    NA 49.5400   0
7 BHF    2017-07-26    NA    NA    NA 69.0842   3
8 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101