# R

### DataFrames

Utilidade: Manipulação de dados.

In [1]:
# importando biblioteca
# install.packages("tidyverse")
library("tidyverse")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
sp500 = read_csv('data/sp500.csv')

── Column specification ────────────────────────────────────────────────────────
cols(
  symbol = col_character(),
  date = col_date(format = ""),
  open = col_double(),
  high = col_double(),
  low = col_double(),
  close = col_double(),
  volume = col_double()
)

### Mensurando tempo de exeução da leitura dos dados

In [5]:
system.time(read_csv('data/sp500.csv'))

── Column specification ────────────────────────────────────────────────────────
cols(
  symbol = col_character(),
  date = col_date(format = ""),
  open = col_double(),
  high = col_double(),
  low = col_double(),
  close = col_double(),
  volume = col_double()
)

   user  system elapsed
  0.391   0.004   0.396

#### Mostrando as 10 primeiras linhas

In [9]:
head(sp500, 10)

   symbol date       open     high     low      close    volume
1  AAL    2014-01-02  25.0700  25.8200  25.0600  25.3600  8998943
2  AAPL   2014-01-02  79.3828  79.5756  78.8601  79.0185 58791957
3  AAP    2014-01-02 110.3600 111.8800 109.2900 109.7400   542711
4  ABBV   2014-01-02  52.1200  52.3300  51.5200  51.9800  4569061
5  ABC    2014-01-02  70.1100  70.2300  69.4800  69.8900  1148391
6  ABT    2014-01-02  38.0900  38.4000  38.0000  38.2300  4967472
7  ACN    2014-01-02  81.5000  81.9200  81.0900  81.1300  2405384
8  ADBE   2014-01-02  59.0600  59.5300  58.9400  59.2900  2746370
9  ADI    2014-01-02  49.5200  49.7500  49.0400  49.2800  2799092
10 ADM    2014-01-02  43.2200  43.2900  42.7900  42.9900  2753765

#### Selecionando linhas

In [33]:
## selecionando as linhas 1, 10 e 100
sp500[c(1,10,100),]

  symbol date       open  high  low   close volume
1 AAL    2014-01-02 25.07 25.82 25.06 25.36 8998943
2 ADM    2014-01-02 43.22 43.29 42.79 42.99 2753765
3 CME    2014-01-02 77.96 78.75 77.32 77.96 2070876

In [34]:
## removendo as linhas 1, 10 e 100
sp500[-c(1, 10, 100), ]

       symbol date       open     high     low      close    volume
1      AAPL   2014-01-02  79.3828  79.5756  78.8601  79.0185 58791957
2      AAP    2014-01-02 110.3600 111.8800 109.2900 109.7400   542711
3      ABBV   2014-01-02  52.1200  52.3300  51.5200  51.9800  4569061
4      ABC    2014-01-02  70.1100  70.2300  69.4800  69.8900  1148391
5      ABT    2014-01-02  38.0900  38.4000  38.0000  38.2300  4967472
6      ACN    2014-01-02  81.5000  81.9200  81.0900  81.1300  2405384
7      ADBE   2014-01-02  59.0600  59.5300  58.9400  59.2900  2746370
8      ADI    2014-01-02  49.5200  49.7500  49.0400  49.2800  2799092
9      ADP    2014-01-02  80.1700  80.4500  79.3800  79.8600  1965869
10     ADSK   2014-01-02  49.3300  49.7400  48.8800  49.2500  2488043
11     ADS    2014-01-02 262.4400 262.6800 258.7800 262.3400   547808
12     AEE    2014-01-02  36.0500  36.1100  35.4700  35.5300  1394264
13     AEP    2014-01-02  46.9800  47.0600  46.0400  46.1300  2752002
14     AES    2014-01-02  14.5100  14.5600  14.1900  14.2700  3987216
15     AET    2014-01-02  68.2100  68.6000  67.5200  67.5600  1650687
16     AFL    2014-01-02  66.6300  66.6940  65.8100  65.9600  1914657
17     AGN    2014-01-02 167.3300 170.7100 166.5937 168.0500  1268722
18     AIG    2014-01-02  50.8100  51.3000  50.4700  50.7100  9198092
19     AIV    2014-01-02  25.9000  26.1400  25.6600  25.9100   844901
20     AIZ    2014-01-02  66.0400  66.1900  65.1500  65.3200   375524
21     AJG    2014-01-02  46.6700  46.8900  46.0900  46.1500   483694
22     AKAM   2014-01-02  47.1100  47.1799  46.4200  46.5300   935107
23     ALB    2014-01-02  63.3800  63.6000  62.6000  63.1400   548782
24     ALGN   2014-01-02  57.0600  57.3700  56.4300  56.9600   437600
25     ALK    2014-01-02  36.6650  36.9650  36.2750  36.5900   900234
26     ALLE   2014-01-02  44.0800  44.1800  43.2700  43.6500   992872
27     ALL    2014-01-02  54.0900  54.4500  53.5000  53.5500  1909106
28     ALXN   2014-01-02 132.4600 133.8200 130.5400 133.4400   760197
29     AMAT   2014-01-02  17.6900  17.6900  17.3700  17.5500  7785873
30     AMD    2014-01-02   3.8500   3.9800   3.8400   3.9500 20569754
...    ...    ...        ...      ...      ...      ...      ...
497440 VTR    2017-12-29  59.75    60.4900  59.610   60.01    1549293
497441 VZ     2017-12-29  53.37    53.4600  52.930   52.93    9994742
497442 V      2017-12-29 114.75   114.8900 114.020  114.02    5248976
497443 WAT    2017-12-29 195.52   195.6600 193.160  193.19     205357
497444 WBA    2017-12-29  72.63    73.0400  72.370   72.62    3110805
497445 WDC    2017-12-29  80.61    80.7500  79.490   79.53    2789565
497446 WEC    2017-12-29  66.51    66.8400  66.290   66.43    1197290
497447 WFC    2017-12-29  61.46    61.5800  60.670   60.67   10711384
497448 WHR    2017-12-29 170.53   171.6753 168.255  168.64     399759
497449 WLTW   2017-12-29 151.64   152.3124 150.670  150.69     402245
497450 WMB    2017-12-29  30.59    30.7200  30.410   30.49    2914928
497451 WMT    2017-12-29  99.40    99.6900  98.750   98.75    7144273
497452 WM     2017-12-29  86.57    86.8900  86.300   86.30    1133907
497453 WRK    2017-12-29  63.30    63.6600  62.850   63.21    1142925
497454 WU     2017-12-29  19.08    19.1500  19.005   19.01    2825771
497455 WYNN   2017-12-29 168.46   168.8700 166.680  168.59    1336295
497456 WYN    2017-12-29 117.00   117.0000 115.870  115.87     875191
497457 WY     2017-12-29  35.35    35.5000  35.090   35.26    2258489
497458 XEC    2017-12-29 123.58   123.7325 121.430  122.01     464765
497459 XEL    2017-12-29  48.11    48.2900  48.070   48.11    2770633
497460 XLNX   2017-12-29  68.50    68.7500  67.400   67.42     959640
497461 XL     2017-12-29  35.45    35.4500  35.160   35.16    1017964
497462 XOM    2017-12-29  84.00    84.2000  83.640   83.64    8523411
497463 XRAY   2017-12-29  66.30    66.7200  65.770   65.83     917075
497464 XRX    2017-12-29  29.40    29.4700  29.120   29.15    1537390
497465 XYL    2017-12-29  68.53    68.8000  67.920   68.20    1046677
497466 YUM    2017-12-29  82.64    82.7100  81.590   81.61    1347613
497467 ZBH    2017-12-29 121.75   121.9500 120.620  120.67    1023624
497468 ZION   2017-12-29  51.28    51.5500  50.810   50.83    1261916
497469 ZTS    2017-12-29  72.55    72.7600  72.040   72.04    1704122

#### Selecionando colunas

In [36]:
head(sp500$close)
head(sp500[,'close'])

# em R não é necessário fazer a cópia

[1]  25.3600  79.0185 109.7400  51.9800  69.8900  38.2300

  close
1  25.3600
2  79.0185
3 109.7400
4  51.9800
5  69.8900
6  38.2300

In [40]:
## mais de uma coluna
sp500[,c('symbol','close', 'volume')]

## dplyr
sp500 %>%
    select(symbol, close, volume)

       symbol close    volume
1      AAL     25.3600  8998943
2      AAPL    79.0185 58791957
3      AAP    109.7400   542711
4      ABBV    51.9800  4569061
5      ABC     69.8900  1148391
6      ABT     38.2300  4967472
7      ACN     81.1300  2405384
8      ADBE    59.2900  2746370
9      ADI     49.2800  2799092
10     ADM     42.9900  2753765
11     ADP     79.8600  1965869
12     ADSK    49.2500  2488043
13     ADS    262.3400   547808
14     AEE     35.5300  1394264
15     AEP     46.1300  2752002
16     AES     14.2700  3987216
17     AET     67.5600  1650687
18     AFL     65.9600  1914657
19     AGN    168.0500  1268722
20     AIG     50.7100  9198092
21     AIV     25.9100   844901
22     AIZ     65.3200   375524
23     AJG     46.1500   483694
24     AKAM    46.5300   935107
25     ALB     63.1400   548782
26     ALGN    56.9600   437600
27     ALK     36.5900   900234
28     ALLE    43.6500   992872
29     ALL     53.5500  1909106
30     ALXN   133.4400   760197
...    ...    ...      ...
497443 VTR     60.01    1549293
497444 VZ      52.93    9994742
497445 V      114.02    5248976
497446 WAT    193.19     205357
497447 WBA     72.62    3110805
497448 WDC     79.53    2789565
497449 WEC     66.43    1197290
497450 WFC     60.67   10711384
497451 WHR    168.64     399759
497452 WLTW   150.69     402245
497453 WMB     30.49    2914928
497454 WMT     98.75    7144273
497455 WM      86.30    1133907
497456 WRK     63.21    1142925
497457 WU      19.01    2825771
497458 WYNN   168.59    1336295
497459 WYN    115.87     875191
497460 WY      35.26    2258489
497461 XEC    122.01     464765
497462 XEL     48.11    2770633
497463 XLNX    67.42     959640
497464 XL      35.16    1017964
497465 XOM     83.64    8523411
497466 XRAY    65.83     917075
497467 XRX     29.15    1537390
497468 XYL     68.20    1046677
497469 YUM     81.61    1347613
497470 ZBH    120.67    1023624
497471 ZION    50.83    1261916
497472 ZTS     72.04    1704122

       symbol close    volume
1      AAL     25.3600  8998943
2      AAPL    79.0185 58791957
3      AAP    109.7400   542711
4      ABBV    51.9800  4569061
5      ABC     69.8900  1148391
6      ABT     38.2300  4967472
7      ACN     81.1300  2405384
8      ADBE    59.2900  2746370
9      ADI     49.2800  2799092
10     ADM     42.9900  2753765
11     ADP     79.8600  1965869
12     ADSK    49.2500  2488043
13     ADS    262.3400   547808
14     AEE     35.5300  1394264
15     AEP     46.1300  2752002
16     AES     14.2700  3987216
17     AET     67.5600  1650687
18     AFL     65.9600  1914657
19     AGN    168.0500  1268722
20     AIG     50.7100  9198092
21     AIV     25.9100   844901
22     AIZ     65.3200   375524
23     AJG     46.1500   483694
24     AKAM    46.5300   935107
25     ALB     63.1400   548782
26     ALGN    56.9600   437600
27     ALK     36.5900   900234
28     ALLE    43.6500   992872
29     ALL     53.5500  1909106
30     ALXN   133.4400   760197
...    ...    ...      ...
497443 VTR     60.01    1549293
497444 VZ      52.93    9994742
497445 V      114.02    5248976
497446 WAT    193.19     205357
497447 WBA     72.62    3110805
497448 WDC     79.53    2789565
497449 WEC     66.43    1197290
497450 WFC     60.67   10711384
497451 WHR    168.64     399759
497452 WLTW   150.69     402245
497453 WMB     30.49    2914928
497454 WMT     98.75    7144273
497455 WM      86.30    1133907
497456 WRK     63.21    1142925
497457 WU      19.01    2825771
497458 WYNN   168.59    1336295
497459 WYN    115.87     875191
497460 WY      35.26    2258489
497461 XEC    122.01     464765
497462 XEL     48.11    2770633
497463 XLNX    67.42     959640
497464 XL      35.16    1017964
497465 XOM     83.64    8523411
497466 XRAY    65.83     917075
497467 XRX     29.15    1537390
497468 XYL     68.20    1046677
497469 YUM     81.61    1347613
497470 ZBH    120.67    1023624
497471 ZION    50.83    1261916
497472 ZTS     72.04    1704122

In [49]:
## removendo colunas específicas
subset(sp500, select=-c(high, open))

## dplyr
sp500 %>%
    select(-high, -open)

       symbol date       low      close    volume
1      AAL    2014-01-02  25.0600  25.3600  8998943
2      AAPL   2014-01-02  78.8601  79.0185 58791957
3      AAP    2014-01-02 109.2900 109.7400   542711
4      ABBV   2014-01-02  51.5200  51.9800  4569061
5      ABC    2014-01-02  69.4800  69.8900  1148391
6      ABT    2014-01-02  38.0000  38.2300  4967472
7      ACN    2014-01-02  81.0900  81.1300  2405384
8      ADBE   2014-01-02  58.9400  59.2900  2746370
9      ADI    2014-01-02  49.0400  49.2800  2799092
10     ADM    2014-01-02  42.7900  42.9900  2753765
11     ADP    2014-01-02  79.3800  79.8600  1965869
12     ADSK   2014-01-02  48.8800  49.2500  2488043
13     ADS    2014-01-02 258.7800 262.3400   547808
14     AEE    2014-01-02  35.4700  35.5300  1394264
15     AEP    2014-01-02  46.0400  46.1300  2752002
16     AES    2014-01-02  14.1900  14.2700  3987216
17     AET    2014-01-02  67.5200  67.5600  1650687
18     AFL    2014-01-02  65.8100  65.9600  1914657
19     AGN    2014-01-02 166.5937 168.0500  1268722
20     AIG    2014-01-02  50.4700  50.7100  9198092
21     AIV    2014-01-02  25.6600  25.9100   844901
22     AIZ    2014-01-02  65.1500  65.3200   375524
23     AJG    2014-01-02  46.0900  46.1500   483694
24     AKAM   2014-01-02  46.4200  46.5300   935107
25     ALB    2014-01-02  62.6000  63.1400   548782
26     ALGN   2014-01-02  56.4300  56.9600   437600
27     ALK    2014-01-02  36.2750  36.5900   900234
28     ALLE   2014-01-02  43.2700  43.6500   992872
29     ALL    2014-01-02  53.5000  53.5500  1909106
30     ALXN   2014-01-02 130.5400 133.4400   760197
...    ...    ...        ...      ...      ...
497443 VTR    2017-12-29  59.610   60.01    1549293
497444 VZ     2017-12-29  52.930   52.93    9994742
497445 V      2017-12-29 114.020  114.02    5248976
497446 WAT    2017-12-29 193.160  193.19     205357
497447 WBA    2017-12-29  72.370   72.62    3110805
497448 WDC    2017-12-29  79.490   79.53    2789565
497449 WEC    2017-12-29  66.290   66.43    1197290
497450 WFC    2017-12-29  60.670   60.67   10711384
497451 WHR    2017-12-29 168.255  168.64     399759
497452 WLTW   2017-12-29 150.670  150.69     402245
497453 WMB    2017-12-29  30.410   30.49    2914928
497454 WMT    2017-12-29  98.750   98.75    7144273
497455 WM     2017-12-29  86.300   86.30    1133907
497456 WRK    2017-12-29  62.850   63.21    1142925
497457 WU     2017-12-29  19.005   19.01    2825771
497458 WYNN   2017-12-29 166.680  168.59    1336295
497459 WYN    2017-12-29 115.870  115.87     875191
497460 WY     2017-12-29  35.090   35.26    2258489
497461 XEC    2017-12-29 121.430  122.01     464765
497462 XEL    2017-12-29  48.070   48.11    2770633
497463 XLNX   2017-12-29  67.400   67.42     959640
497464 XL     2017-12-29  35.160   35.16    1017964
497465 XOM    2017-12-29  83.640   83.64    8523411
497466 XRAY   2017-12-29  65.770   65.83     917075
497467 XRX    2017-12-29  29.120   29.15    1537390
497468 XYL    2017-12-29  67.920   68.20    1046677
497469 YUM    2017-12-29  81.590   81.61    1347613
497470 ZBH    2017-12-29 120.620  120.67    1023624
497471 ZION   2017-12-29  50.810   50.83    1261916
497472 ZTS    2017-12-29  72.040   72.04    1704122

### Selecionando linhas a partir de condições

In [15]:
sp500[sp500$volume < 1000,]

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 O      2016-01-12    NA    NA    NA 52.4300   0
5 UA     2016-04-07    NA    NA    NA 41.5600   0
6 FTV    2016-07-01    NA    NA    NA 49.5400   0
7 BHF    2017-07-26    NA    NA    NA 69.0842   3
8 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101

In [14]:
sp500 %>%
    filter(volume < 1000)

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 O      2016-01-12    NA    NA    NA 52.4300   0
5 UA     2016-04-07    NA    NA    NA 41.5600   0
6 FTV    2016-07-01    NA    NA    NA 49.5400   0
7 BHF    2017-07-26    NA    NA    NA 69.0842   3
8 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101

In [16]:
sp500 %>%
    filter(volume < 1000, close > 60)

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 BHF    2017-07-26    NA    NA    NA 69.0842   3
5 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101

### Select

In [24]:
# selecionar as colunas que iniciam com v
sp500 %>%
    select(starts_with('v'))

       volume
1       8998943
2      58791957
3        542711
4       4569061
5       1148391
6       4967472
7       2405384
8       2746370
9       2799092
10      2753765
11      1965869
12      2488043
13       547808
14      1394264
15      2752002
16      3987216
17      1650687
18      1914657
19      1268722
20      9198092
21       844901
22       375524
23       483694
24       935107
25       548782
26       437600
27       900234
28       992872
29      1909106
30       760197
...    ...
497443  1549293
497444  9994742
497445  5248976
497446   205357
497447  3110805
497448  2789565
497449  1197290
497450 10711384
497451   399759
497452   402245
497453  2914928
497454  7144273
497455  1133907
497456  1142925
497457  2825771
497458  1336295
497459   875191
497460  2258489
497461   464765
497462  2770633
497463   959640
497464  1017964
497465  8523411
497466   917075
497467  1537390
497468  1046677
497469  1347613
497470  1023624
497471  1261916
497472  1704122

In [26]:
# não vamos selecionar as colunas que iniciam com v
sp500 %>%
    select(!starts_with('v'))

       symbol date       open     high     low      close
1      AAL    2014-01-02  25.0700  25.8200  25.0600  25.3600
2      AAPL   2014-01-02  79.3828  79.5756  78.8601  79.0185
3      AAP    2014-01-02 110.3600 111.8800 109.2900 109.7400
4      ABBV   2014-01-02  52.1200  52.3300  51.5200  51.9800
5      ABC    2014-01-02  70.1100  70.2300  69.4800  69.8900
6      ABT    2014-01-02  38.0900  38.4000  38.0000  38.2300
7      ACN    2014-01-02  81.5000  81.9200  81.0900  81.1300
8      ADBE   2014-01-02  59.0600  59.5300  58.9400  59.2900
9      ADI    2014-01-02  49.5200  49.7500  49.0400  49.2800
10     ADM    2014-01-02  43.2200  43.2900  42.7900  42.9900
11     ADP    2014-01-02  80.1700  80.4500  79.3800  79.8600
12     ADSK   2014-01-02  49.3300  49.7400  48.8800  49.2500
13     ADS    2014-01-02 262.4400 262.6800 258.7800 262.3400
14     AEE    2014-01-02  36.0500  36.1100  35.4700  35.5300
15     AEP    2014-01-02  46.9800  47.0600  46.0400  46.1300
16     AES    2014-01-02  14.5100  14.5600  14.1900  14.2700
17     AET    2014-01-02  68.2100  68.6000  67.5200  67.5600
18     AFL    2014-01-02  66.6300  66.6940  65.8100  65.9600
19     AGN    2014-01-02 167.3300 170.7100 166.5937 168.0500
20     AIG    2014-01-02  50.8100  51.3000  50.4700  50.7100
21     AIV    2014-01-02  25.9000  26.1400  25.6600  25.9100
22     AIZ    2014-01-02  66.0400  66.1900  65.1500  65.3200
23     AJG    2014-01-02  46.6700  46.8900  46.0900  46.1500
24     AKAM   2014-01-02  47.1100  47.1799  46.4200  46.5300
25     ALB    2014-01-02  63.3800  63.6000  62.6000  63.1400
26     ALGN   2014-01-02  57.0600  57.3700  56.4300  56.9600
27     ALK    2014-01-02  36.6650  36.9650  36.2750  36.5900
28     ALLE   2014-01-02  44.0800  44.1800  43.2700  43.6500
29     ALL    2014-01-02  54.0900  54.4500  53.5000  53.5500
30     ALXN   2014-01-02 132.4600 133.8200 130.5400 133.4400
...    ...    ...        ...      ...      ...      ...
497443 VTR    2017-12-29  59.75    60.4900  59.610   60.01
497444 VZ     2017-12-29  53.37    53.4600  52.930   52.93
497445 V      2017-12-29 114.75   114.8900 114.020  114.02
497446 WAT    2017-12-29 195.52   195.6600 193.160  193.19
497447 WBA    2017-12-29  72.63    73.0400  72.370   72.62
497448 WDC    2017-12-29  80.61    80.7500  79.490   79.53
497449 WEC    2017-12-29  66.51    66.8400  66.290   66.43
497450 WFC    2017-12-29  61.46    61.5800  60.670   60.67
497451 WHR    2017-12-29 170.53   171.6753 168.255  168.64
497452 WLTW   2017-12-29 151.64   152.3124 150.670  150.69
497453 WMB    2017-12-29  30.59    30.7200  30.410   30.49
497454 WMT    2017-12-29  99.40    99.6900  98.750   98.75
497455 WM     2017-12-29  86.57    86.8900  86.300   86.30
497456 WRK    2017-12-29  63.30    63.6600  62.850   63.21
497457 WU     2017-12-29  19.08    19.1500  19.005   19.01
497458 WYNN   2017-12-29 168.46   168.8700 166.680  168.59
497459 WYN    2017-12-29 117.00   117.0000 115.870  115.87
497460 WY     2017-12-29  35.35    35.5000  35.090   35.26
497461 XEC    2017-12-29 123.58   123.7325 121.430  122.01
497462 XEL    2017-12-29  48.11    48.2900  48.070   48.11
497463 XLNX   2017-12-29  68.50    68.7500  67.400   67.42
497464 XL     2017-12-29  35.45    35.4500  35.160   35.16
497465 XOM    2017-12-29  84.00    84.2000  83.640   83.64
497466 XRAY   2017-12-29  66.30    66.7200  65.770   65.83
497467 XRX    2017-12-29  29.40    29.4700  29.120   29.15
497468 XYL    2017-12-29  68.53    68.8000  67.920   68.20
497469 YUM    2017-12-29  82.64    82.7100  81.590   81.61
497470 ZBH    2017-12-29 121.75   121.9500 120.620  120.67
497471 ZION   2017-12-29  51.28    51.5500  50.810   50.83
497472 ZTS    2017-12-29  72.55    72.7600  72.040   72.04

In [27]:
# mais de uma condição
sp500 %>%
    select(starts_with('v'), starts_with('c'))

       volume   close
1       8998943  25.3600
2      58791957  79.0185
3        542711 109.7400
4       4569061  51.9800
5       1148391  69.8900
6       4967472  38.2300
7       2405384  81.1300
8       2746370  59.2900
9       2799092  49.2800
10      2753765  42.9900
11      1965869  79.8600
12      2488043  49.2500
13       547808 262.3400
14      1394264  35.5300
15      2752002  46.1300
16      3987216  14.2700
17      1650687  67.5600
18      1914657  65.9600
19      1268722 168.0500
20      9198092  50.7100
21       844901  25.9100
22       375524  65.3200
23       483694  46.1500
24       935107  46.5300
25       548782  63.1400
26       437600  56.9600
27       900234  36.5900
28       992872  43.6500
29      1909106  53.5500
30       760197 133.4400
...    ...      ...
497443  1549293  60.01
497444  9994742  52.93
497445  5248976 114.02
497446   205357 193.19
497447  3110805  72.62
497448  2789565  79.53
497449  1197290  66.43
497450 10711384  60.67
497451   399759 168.64
497452   402245 150.69
497453  2914928  30.49
497454  7144273  98.75
497455  1133907  86.30
497456  1142925  63.21
497457  2825771  19.01
497458  1336295 168.59
497459   875191 115.87
497460  2258489  35.26
497461   464765 122.01
497462  2770633  48.11
497463   959640  67.42
497464  1017964  35.16
497465  8523411  83.64
497466   917075  65.83
497467  1537390  29.15
497468  1046677  68.20
497469  1347613  81.61
497470  1023624 120.67
497471  1261916  50.83
497472  1704122  72.04

### Groupby

In [19]:
# vamos fazer o grupo por symbol e calcular a média do volume

sp500 %>%
    group_by(symbol) %>%
    summarise(media = mean(volume))

`summarise()` ungrouping output (override with `.groups` argument)

    symbol media
1   A       2191931.6
2   AAL     9751521.3
3   AAP     1137306.7
4   AAPL   45169571.2
5   ABBV    8408836.0
6   ABC     2020126.5
7   ABT     6877534.6
8   ACN     2485149.2
9   ADBE    2864825.4
10  ADI     2521618.8
11  ADM     3532299.5
12  ADP     2075933.9
13  ADS      628081.3
14  ADSK    2374625.4
15  AEE     1622603.0
16  AEP     2652208.3
17  AES     5489659.4
18  AET     2659575.3
19  AFL     2000464.3
20  AGN     3211514.7
21  AIG     7387528.9
22  AIV     1213160.9
23  AIZ      526565.9
24  AJG      986975.2
25  AKAM    2099811.7
26  ALB     1234936.4
27  ALGN     881906.7
28  ALK     1470175.8
29  ALL     2282951.2
30  ALLE     710361.0
... ...    ...
476 VRTX    1800779.3
477 VTR     2212991.9
478 VZ     16815282.2
479 WAT      510557.6
480 WBA     5346100.4
481 WDC     3552176.6
482 WEC     1843199.2
483 WFC    18181604.6
484 WHR      961330.5
485 WLTW     792991.5
486 WM      2011212.2
487 WMB     8361432.8
488 WMT     8455316.7
489 WRK     1678282.2
490 WU      4950959.4
491 WY      4152800.0
492 WYN     1144501.8
493 WYNN    2612087.7
494 XEC     1172201.2
495 XEL     2984541.8
496 XL      2222881.0
497 XLNX    3050131.6
498 XOM    12298770.5
499 XRAY    1263296.8
500 XRX     2332453.9
501 XYL     1159214.1
502 YUM     3225015.9
503 ZBH     1349760.2
504 ZION    2758079.0
505 ZTS     3485038.1

In [20]:
# ordenando de forma decrescente
sp500 %>%
    group_by(symbol) %>%
    summarise(media = mean(volume)) %>%
    arrange(desc(media))

`summarise()` ungrouping output (override with `.groups` argument)

    symbol media
1   BAC    89362904
2   AAPL   45169571
3   GE     41443943
4   AMD    33289509
5   F      32914301
6   MSFT   30712613
7   FB     29227824
8   MU     27962814
9   CHK    27885402
10  INTC   27161138
11  PFE    26419734
12  CSCO   26250828
13  FCX    25619818
14  T      25476621
15  CMCSA  24603642
16  C      19485212
17  WFC    18181605
18  VZ     16815282
19  RF     16745652
20  JPM    15680002
21  KMI    15388091
22  GM     14941006
23  NFLX   14373715
24  ORCL   14351290
25  KO     13604296
26  AMAT   13382835
27  MRO    13129084
28  HPQ    12735119
29  XOM    12298771
30  FOXA   12038988
... ...    ...
476 SHW    709485.4
477 EQIX   687478.9
478 GWW    675196.3
479 LLL    669578.8
480 MHK    650956.9
481 PCLN   632928.2
482 ADS    628081.3
483 CTAS   623357.5
484 BLK    620532.3
485 MAA    616155.7
486 TMK    598708.6
487 CINF   589876.1
488 TDG    537045.0
489 AIZ    526565.9
490 ARE    524500.4
491 WAT    510557.6
492 AYI    503364.8
493 COO    480214.3
494 IFF    473382.4
495 AMG    472021.3
496 ANSS   466012.7
497 ROP    464291.8
498 IT     463316.4
499 SNA    448825.3
500 FRT    424499.8
501 ESS    403199.7
502 RE     338280.5
503 HII    333140.6
504 AZO    321177.0
505 MTD    171919.9