# R

## Manipulação de dados
### DataFrames

O que veremos nesse tutorial?

1. leitura de dados
2. selecionar linhas
3. selecionar colunas
4. filtro de linhas
5. groupby com estatísticas
6. renomear colunas 
7. dados faltantes

## 1. Leitura de dados

In [2]:
# importando biblioteca
# install.packages("tidyverse")
# install.packages("data.table")
# install.packages("microbenchmark")
library('tidyverse')
library('data.table')
library('microbenchmark')

── Attaching packages ────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0
── Conflicts ───────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘data.table’

The following objects are masked from ‘package:dplyr’:

    between, first, last

The following object is masked from ‘package:purrr’:

    transpose

In [5]:
sp500 = read_csv('data/sp500.csv')
# sp500 = fread('data/sp500.csv') # data.table bem mais rápido

# sp500 = data.frame(sp500)

── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  symbol = col_character(),
  date = col_date(format = ""),
  open = col_double(),
  high = col_double(),
  low = col_double(),
  close = col_double(),
  volume = col_double()
)

In [7]:
system.time(fread('data/sp500.csv'))

   user  system elapsed
  0.152   0.000   0.044

### Mensurando tempo de exeução da leitura dos dados

In [ ]:
print(microbenchmark(read_csv('data/sp500.csv')))

In [8]:
print(microbenchmark(fread('data/sp500.csv')))

Unit: milliseconds
                    expr      min       lq     mean   median       uq      max
 fread("data/sp500.csv") 34.02149 36.91795 48.88765 41.68787 47.64117 153.1888
 neval
   100

#### Mostrando as 10 primeiras linhas

In [9]:
head(sp500, 10)

   symbol date       open     high     low      close    volume
1  AAL    2014-01-02  25.0700  25.8200  25.0600  25.3600  8998943
2  AAPL   2014-01-02  79.3828  79.5756  78.8601  79.0185 58791957
3  AAP    2014-01-02 110.3600 111.8800 109.2900 109.7400   542711
4  ABBV   2014-01-02  52.1200  52.3300  51.5200  51.9800  4569061
5  ABC    2014-01-02  70.1100  70.2300  69.4800  69.8900  1148391
6  ABT    2014-01-02  38.0900  38.4000  38.0000  38.2300  4967472
7  ACN    2014-01-02  81.5000  81.9200  81.0900  81.1300  2405384
8  ADBE   2014-01-02  59.0600  59.5300  58.9400  59.2900  2746370
9  ADI    2014-01-02  49.5200  49.7500  49.0400  49.2800  2799092
10 ADM    2014-01-02  43.2200  43.2900  42.7900  42.9900  2753765

## 2. Selecionar linhas

In [10]:
## selecionando as linhas 1, 10 e 100
sp500[c(1,10,100),]

  symbol date       open  high  low   close volume
1 AAL    2014-01-02 25.07 25.82 25.06 25.36 8998943
2 ADM    2014-01-02 43.22 43.29 42.79 42.99 2753765
3 CME    2014-01-02 77.96 78.75 77.32 77.96 2070876

In [11]:
## removendo as linhas 1, 10 e 100
sp500[-c(1, 10, 100), ]

       symbol date       open     high     low      close    volume
1      AAPL   2014-01-02  79.3828  79.5756  78.8601  79.0185 58791957
2      AAP    2014-01-02 110.3600 111.8800 109.2900 109.7400   542711
3      ABBV   2014-01-02  52.1200  52.3300  51.5200  51.9800  4569061
4      ABC    2014-01-02  70.1100  70.2300  69.4800  69.8900  1148391
5      ABT    2014-01-02  38.0900  38.4000  38.0000  38.2300  4967472
6      ACN    2014-01-02  81.5000  81.9200  81.0900  81.1300  2405384
7      ADBE   2014-01-02  59.0600  59.5300  58.9400  59.2900  2746370
8      ADI    2014-01-02  49.5200  49.7500  49.0400  49.2800  2799092
9      ADP    2014-01-02  80.1700  80.4500  79.3800  79.8600  1965869
10     ADSK   2014-01-02  49.3300  49.7400  48.8800  49.2500  2488043
11     ADS    2014-01-02 262.4400 262.6800 258.7800 262.3400   547808
12     AEE    2014-01-02  36.0500  36.1100  35.4700  35.5300  1394264
13     AEP    2014-01-02  46.9800  47.0600  46.0400  46.1300  2752002
14     AES    2014-01-02  14.5100  14.5600  14.1900  14.2700  3987216
15     AET    2014-01-02  68.2100  68.6000  67.5200  67.5600  1650687
16     AFL    2014-01-02  66.6300  66.6940  65.8100  65.9600  1914657
17     AGN    2014-01-02 167.3300 170.7100 166.5937 168.0500  1268722
18     AIG    2014-01-02  50.8100  51.3000  50.4700  50.7100  9198092
19     AIV    2014-01-02  25.9000  26.1400  25.6600  25.9100   844901
20     AIZ    2014-01-02  66.0400  66.1900  65.1500  65.3200   375524
21     AJG    2014-01-02  46.6700  46.8900  46.0900  46.1500   483694
22     AKAM   2014-01-02  47.1100  47.1799  46.4200  46.5300   935107
23     ALB    2014-01-02  63.3800  63.6000  62.6000  63.1400   548782
24     ALGN   2014-01-02  57.0600  57.3700  56.4300  56.9600   437600
25     ALK    2014-01-02  36.6650  36.9650  36.2750  36.5900   900234
26     ALLE   2014-01-02  44.0800  44.1800  43.2700  43.6500   992872
27     ALL    2014-01-02  54.0900  54.4500  53.5000  53.5500  1909106
28     ALXN   2014-01-02 132.4600 133.8200 130.5400 133.4400   760197
29     AMAT   2014-01-02  17.6900  17.6900  17.3700  17.5500  7785873
30     AMD    2014-01-02   3.8500   3.9800   3.8400   3.9500 20569754
...    ...    ...        ...      ...      ...      ...      ...
497440 VTR    2017-12-29  59.75    60.4900  59.610   60.01    1549293
497441 VZ     2017-12-29  53.37    53.4600  52.930   52.93    9994742
497442 V      2017-12-29 114.75   114.8900 114.020  114.02    5248976
497443 WAT    2017-12-29 195.52   195.6600 193.160  193.19     205357
497444 WBA    2017-12-29  72.63    73.0400  72.370   72.62    3110805
497445 WDC    2017-12-29  80.61    80.7500  79.490   79.53    2789565
497446 WEC    2017-12-29  66.51    66.8400  66.290   66.43    1197290
497447 WFC    2017-12-29  61.46    61.5800  60.670   60.67   10711384
497448 WHR    2017-12-29 170.53   171.6753 168.255  168.64     399759
497449 WLTW   2017-12-29 151.64   152.3124 150.670  150.69     402245
497450 WMB    2017-12-29  30.59    30.7200  30.410   30.49    2914928
497451 WMT    2017-12-29  99.40    99.6900  98.750   98.75    7144273
497452 WM     2017-12-29  86.57    86.8900  86.300   86.30    1133907
497453 WRK    2017-12-29  63.30    63.6600  62.850   63.21    1142925
497454 WU     2017-12-29  19.08    19.1500  19.005   19.01    2825771
497455 WYNN   2017-12-29 168.46   168.8700 166.680  168.59    1336295
497456 WYN    2017-12-29 117.00   117.0000 115.870  115.87     875191
497457 WY     2017-12-29  35.35    35.5000  35.090   35.26    2258489
497458 XEC    2017-12-29 123.58   123.7325 121.430  122.01     464765
497459 XEL    2017-12-29  48.11    48.2900  48.070   48.11    2770633
497460 XLNX   2017-12-29  68.50    68.7500  67.400   67.42     959640
497461 XL     2017-12-29  35.45    35.4500  35.160   35.16    1017964
497462 XOM    2017-12-29  84.00    84.2000  83.640   83.64    8523411
497463 XRAY   2017-12-29  66.30    66.7200  65.770   65.83     917075
497464 XRX    2017-12-29  29.40    29.4700  29.120   29.15    1537390
497465 XYL    2017-12-29  68.53    68.8000  67.920   68.20    1046677
497466 YUM    2017-12-29  82.64    82.7100  81.590   81.61    1347613
497467 ZBH    2017-12-29 121.75   121.9500 120.620  120.67    1023624
497468 ZION   2017-12-29  51.28    51.5500  50.810   50.83    1261916
497469 ZTS    2017-12-29  72.55    72.7600  72.040   72.04    1704122

## 3. Selecionar colunas

In [13]:
head(sp500$close)
head(sp500[,'close'])

# em R não é necessário fazer a cópia

[1]  25.3600  79.0185 109.7400  51.9800  69.8900  38.2300

  close
1  25.3600
2  79.0185
3 109.7400
4  51.9800
5  69.8900
6  38.2300

In [14]:
## mais de uma coluna
sp500[,c('symbol','close', 'volume')]

## dplyr
sp500 %>%
    select(symbol, close, volume)

       symbol close    volume
1      AAL     25.3600  8998943
2      AAPL    79.0185 58791957
3      AAP    109.7400   542711
4      ABBV    51.9800  4569061
5      ABC     69.8900  1148391
6      ABT     38.2300  4967472
7      ACN     81.1300  2405384
8      ADBE    59.2900  2746370
9      ADI     49.2800  2799092
10     ADM     42.9900  2753765
11     ADP     79.8600  1965869
12     ADSK    49.2500  2488043
13     ADS    262.3400   547808
14     AEE     35.5300  1394264
15     AEP     46.1300  2752002
16     AES     14.2700  3987216
17     AET     67.5600  1650687
18     AFL     65.9600  1914657
19     AGN    168.0500  1268722
20     AIG     50.7100  9198092
21     AIV     25.9100   844901
22     AIZ     65.3200   375524
23     AJG     46.1500   483694
24     AKAM    46.5300   935107
25     ALB     63.1400   548782
26     ALGN    56.9600   437600
27     ALK     36.5900   900234
28     ALLE    43.6500   992872
29     ALL     53.5500  1909106
30     ALXN   133.4400   760197
...    ...    ...      ...
497443 VTR     60.01    1549293
497444 VZ      52.93    9994742
497445 V      114.02    5248976
497446 WAT    193.19     205357
497447 WBA     72.62    3110805
497448 WDC     79.53    2789565
497449 WEC     66.43    1197290
497450 WFC     60.67   10711384
497451 WHR    168.64     399759
497452 WLTW   150.69     402245
497453 WMB     30.49    2914928
497454 WMT     98.75    7144273
497455 WM      86.30    1133907
497456 WRK     63.21    1142925
497457 WU      19.01    2825771
497458 WYNN   168.59    1336295
497459 WYN    115.87     875191
497460 WY      35.26    2258489
497461 XEC    122.01     464765
497462 XEL     48.11    2770633
497463 XLNX    67.42     959640
497464 XL      35.16    1017964
497465 XOM     83.64    8523411
497466 XRAY    65.83     917075
497467 XRX     29.15    1537390
497468 XYL     68.20    1046677
497469 YUM     81.61    1347613
497470 ZBH    120.67    1023624
497471 ZION    50.83    1261916
497472 ZTS     72.04    1704122

       symbol close    volume
1      AAL     25.3600  8998943
2      AAPL    79.0185 58791957
3      AAP    109.7400   542711
4      ABBV    51.9800  4569061
5      ABC     69.8900  1148391
6      ABT     38.2300  4967472
7      ACN     81.1300  2405384
8      ADBE    59.2900  2746370
9      ADI     49.2800  2799092
10     ADM     42.9900  2753765
11     ADP     79.8600  1965869
12     ADSK    49.2500  2488043
13     ADS    262.3400   547808
14     AEE     35.5300  1394264
15     AEP     46.1300  2752002
16     AES     14.2700  3987216
17     AET     67.5600  1650687
18     AFL     65.9600  1914657
19     AGN    168.0500  1268722
20     AIG     50.7100  9198092
21     AIV     25.9100   844901
22     AIZ     65.3200   375524
23     AJG     46.1500   483694
24     AKAM    46.5300   935107
25     ALB     63.1400   548782
26     ALGN    56.9600   437600
27     ALK     36.5900   900234
28     ALLE    43.6500   992872
29     ALL     53.5500  1909106
30     ALXN   133.4400   760197
...    ...    ...      ...
497443 VTR     60.01    1549293
497444 VZ      52.93    9994742
497445 V      114.02    5248976
497446 WAT    193.19     205357
497447 WBA     72.62    3110805
497448 WDC     79.53    2789565
497449 WEC     66.43    1197290
497450 WFC     60.67   10711384
497451 WHR    168.64     399759
497452 WLTW   150.69     402245
497453 WMB     30.49    2914928
497454 WMT     98.75    7144273
497455 WM      86.30    1133907
497456 WRK     63.21    1142925
497457 WU      19.01    2825771
497458 WYNN   168.59    1336295
497459 WYN    115.87     875191
497460 WY      35.26    2258489
497461 XEC    122.01     464765
497462 XEL     48.11    2770633
497463 XLNX    67.42     959640
497464 XL      35.16    1017964
497465 XOM     83.64    8523411
497466 XRAY    65.83     917075
497467 XRX     29.15    1537390
497468 XYL     68.20    1046677
497469 YUM     81.61    1347613
497470 ZBH    120.67    1023624
497471 ZION    50.83    1261916
497472 ZTS     72.04    1704122

In [15]:
## removendo colunas específicas
subset(sp500, select=-c(high, open))

## dplyr
sp500 %>%
    select(-high, -open)

       symbol date       low      close    volume
1      AAL    2014-01-02  25.0600  25.3600  8998943
2      AAPL   2014-01-02  78.8601  79.0185 58791957
3      AAP    2014-01-02 109.2900 109.7400   542711
4      ABBV   2014-01-02  51.5200  51.9800  4569061
5      ABC    2014-01-02  69.4800  69.8900  1148391
6      ABT    2014-01-02  38.0000  38.2300  4967472
7      ACN    2014-01-02  81.0900  81.1300  2405384
8      ADBE   2014-01-02  58.9400  59.2900  2746370
9      ADI    2014-01-02  49.0400  49.2800  2799092
10     ADM    2014-01-02  42.7900  42.9900  2753765
11     ADP    2014-01-02  79.3800  79.8600  1965869
12     ADSK   2014-01-02  48.8800  49.2500  2488043
13     ADS    2014-01-02 258.7800 262.3400   547808
14     AEE    2014-01-02  35.4700  35.5300  1394264
15     AEP    2014-01-02  46.0400  46.1300  2752002
16     AES    2014-01-02  14.1900  14.2700  3987216
17     AET    2014-01-02  67.5200  67.5600  1650687
18     AFL    2014-01-02  65.8100  65.9600  1914657
19     AGN    2014-01-02 166.5937 168.0500  1268722
20     AIG    2014-01-02  50.4700  50.7100  9198092
21     AIV    2014-01-02  25.6600  25.9100   844901
22     AIZ    2014-01-02  65.1500  65.3200   375524
23     AJG    2014-01-02  46.0900  46.1500   483694
24     AKAM   2014-01-02  46.4200  46.5300   935107
25     ALB    2014-01-02  62.6000  63.1400   548782
26     ALGN   2014-01-02  56.4300  56.9600   437600
27     ALK    2014-01-02  36.2750  36.5900   900234
28     ALLE   2014-01-02  43.2700  43.6500   992872
29     ALL    2014-01-02  53.5000  53.5500  1909106
30     ALXN   2014-01-02 130.5400 133.4400   760197
...    ...    ...        ...      ...      ...
497443 VTR    2017-12-29  59.610   60.01    1549293
497444 VZ     2017-12-29  52.930   52.93    9994742
497445 V      2017-12-29 114.020  114.02    5248976
497446 WAT    2017-12-29 193.160  193.19     205357
497447 WBA    2017-12-29  72.370   72.62    3110805
497448 WDC    2017-12-29  79.490   79.53    2789565
497449 WEC    2017-12-29  66.290   66.43    1197290
497450 WFC    2017-12-29  60.670   60.67   10711384
497451 WHR    2017-12-29 168.255  168.64     399759
497452 WLTW   2017-12-29 150.670  150.69     402245
497453 WMB    2017-12-29  30.410   30.49    2914928
497454 WMT    2017-12-29  98.750   98.75    7144273
497455 WM     2017-12-29  86.300   86.30    1133907
497456 WRK    2017-12-29  62.850   63.21    1142925
497457 WU     2017-12-29  19.005   19.01    2825771
497458 WYNN   2017-12-29 166.680  168.59    1336295
497459 WYN    2017-12-29 115.870  115.87     875191
497460 WY     2017-12-29  35.090   35.26    2258489
497461 XEC    2017-12-29 121.430  122.01     464765
497462 XEL    2017-12-29  48.070   48.11    2770633
497463 XLNX   2017-12-29  67.400   67.42     959640
497464 XL     2017-12-29  35.160   35.16    1017964
497465 XOM    2017-12-29  83.640   83.64    8523411
497466 XRAY   2017-12-29  65.770   65.83     917075
497467 XRX    2017-12-29  29.120   29.15    1537390
497468 XYL    2017-12-29  67.920   68.20    1046677
497469 YUM    2017-12-29  81.590   81.61    1347613
497470 ZBH    2017-12-29 120.620  120.67    1023624
497471 ZION   2017-12-29  50.810   50.83    1261916
497472 ZTS    2017-12-29  72.040   72.04    1704122

       symbol date       low      close    volume
1      AAL    2014-01-02  25.0600  25.3600  8998943
2      AAPL   2014-01-02  78.8601  79.0185 58791957
3      AAP    2014-01-02 109.2900 109.7400   542711
4      ABBV   2014-01-02  51.5200  51.9800  4569061
5      ABC    2014-01-02  69.4800  69.8900  1148391
6      ABT    2014-01-02  38.0000  38.2300  4967472
7      ACN    2014-01-02  81.0900  81.1300  2405384
8      ADBE   2014-01-02  58.9400  59.2900  2746370
9      ADI    2014-01-02  49.0400  49.2800  2799092
10     ADM    2014-01-02  42.7900  42.9900  2753765
11     ADP    2014-01-02  79.3800  79.8600  1965869
12     ADSK   2014-01-02  48.8800  49.2500  2488043
13     ADS    2014-01-02 258.7800 262.3400   547808
14     AEE    2014-01-02  35.4700  35.5300  1394264
15     AEP    2014-01-02  46.0400  46.1300  2752002
16     AES    2014-01-02  14.1900  14.2700  3987216
17     AET    2014-01-02  67.5200  67.5600  1650687
18     AFL    2014-01-02  65.8100  65.9600  1914657
19     AGN    2014-01-02 166.5937 168.0500  1268722
20     AIG    2014-01-02  50.4700  50.7100  9198092
21     AIV    2014-01-02  25.6600  25.9100   844901
22     AIZ    2014-01-02  65.1500  65.3200   375524
23     AJG    2014-01-02  46.0900  46.1500   483694
24     AKAM   2014-01-02  46.4200  46.5300   935107
25     ALB    2014-01-02  62.6000  63.1400   548782
26     ALGN   2014-01-02  56.4300  56.9600   437600
27     ALK    2014-01-02  36.2750  36.5900   900234
28     ALLE   2014-01-02  43.2700  43.6500   992872
29     ALL    2014-01-02  53.5000  53.5500  1909106
30     ALXN   2014-01-02 130.5400 133.4400   760197
...    ...    ...        ...      ...      ...
497443 VTR    2017-12-29  59.610   60.01    1549293
497444 VZ     2017-12-29  52.930   52.93    9994742
497445 V      2017-12-29 114.020  114.02    5248976
497446 WAT    2017-12-29 193.160  193.19     205357
497447 WBA    2017-12-29  72.370   72.62    3110805
497448 WDC    2017-12-29  79.490   79.53    2789565
497449 WEC    2017-12-29  66.290   66.43    1197290
497450 WFC    2017-12-29  60.670   60.67   10711384
497451 WHR    2017-12-29 168.255  168.64     399759
497452 WLTW   2017-12-29 150.670  150.69     402245
497453 WMB    2017-12-29  30.410   30.49    2914928
497454 WMT    2017-12-29  98.750   98.75    7144273
497455 WM     2017-12-29  86.300   86.30    1133907
497456 WRK    2017-12-29  62.850   63.21    1142925
497457 WU     2017-12-29  19.005   19.01    2825771
497458 WYNN   2017-12-29 166.680  168.59    1336295
497459 WYN    2017-12-29 115.870  115.87     875191
497460 WY     2017-12-29  35.090   35.26    2258489
497461 XEC    2017-12-29 121.430  122.01     464765
497462 XEL    2017-12-29  48.070   48.11    2770633
497463 XLNX   2017-12-29  67.400   67.42     959640
497464 XL     2017-12-29  35.160   35.16    1017964
497465 XOM    2017-12-29  83.640   83.64    8523411
497466 XRAY   2017-12-29  65.770   65.83     917075
497467 XRX    2017-12-29  29.120   29.15    1537390
497468 XYL    2017-12-29  67.920   68.20    1046677
497469 YUM    2017-12-29  81.590   81.61    1347613
497470 ZBH    2017-12-29 120.620  120.67    1023624
497471 ZION   2017-12-29  50.810   50.83    1261916
497472 ZTS    2017-12-29  72.040   72.04    1704122

## 4. Selecionando linhas a partir de condições

In [16]:
sp500[sp500$volume < 1000,]

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 O      2016-01-12    NA    NA    NA 52.4300   0
5 UA     2016-04-07    NA    NA    NA 41.5600   0
6 FTV    2016-07-01    NA    NA    NA 49.5400   0
7 BHF    2017-07-26    NA    NA    NA 69.0842   3
8 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101

In [17]:
sp500 %>%
    filter(volume < 1000)

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 O      2016-01-12    NA    NA    NA 52.4300   0
5 UA     2016-04-07    NA    NA    NA 41.5600   0
6 FTV    2016-07-01    NA    NA    NA 49.5400   0
7 BHF    2017-07-26    NA    NA    NA 69.0842   3
8 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101

In [18]:
sp500 %>%
    filter(volume < 1000, close > 60)

  symbol date       open  high  low   close   volume
1 WRK    2015-06-26    NA    NA    NA 61.9000 100
2 WRK    2015-06-29 60.92 60.92 60.80 60.8000 300
3 DHR    2016-01-12    NA    NA    NA 88.5500   0
4 BHF    2017-07-26    NA    NA    NA 69.0842   3
5 BHF    2017-07-28 67.26 67.26 67.26 67.2600 101

### Select

In [ ]:
# selecionar as colunas que iniciam com v
sp500 %>%
    select(starts_with('v'))

In [ ]:
# não vamos selecionar as colunas que iniciam com v
sp500 %>%
    select(!starts_with('v'))

In [ ]:
# mais de uma condição
sp500 %>%
    select(starts_with('v'), starts_with('c'))

## 5. Groupby

#### Calculando estatísticas

In [ ]:
## Descrevendo as estatísticas básicas
summary(sp500)

In [ ]:
# vamos fazer o grupo por symbol e calcular a média do volume
sp500 %>%
    group_by(symbol) %>%
    summarise(media = mean(volume))

In [ ]:
# ordenando de forma crescente
sp500 %>%
    group_by(symbol) %>%
    summarise(media = mean(volume)) %>%
    arrange(media)

# ordenando de forma decrescente
sp500 %>%
    group_by(symbol) %>%
    summarise(media = mean(volume)) %>%
    arrange(desc(media))

In [ ]:
estatisticas <- sp500 %>%
    group_by(symbol) %>%
    summarise(mean=mean(close), std=sd(close))

estatisticas

## 6. Renomeando colunas

In [ ]:
estatisticas %>%
    rename(ticker=symbol,
           media=mean,
           desvio=std)

## 7. Dados faltantes

In [ ]:
# somar a quantidade de dados faltantes para cada coluna
sum_na <- function(df){
    sum(is.na(df))
}

# usando apply
apply(sp500, FUN=sum_na, MARGIN=2)

In [ ]:
# drop NA 
na.omit(sp500)
# alternativa
drop_na(sp500)

In [ ]:
# dropando NA apenas de high
sp500 %>%
    drop_na(high)