# Julia

### DataFrames

Utilidade: Manipulação de dados.

In [1]:
# importando biblioteca
# using Pkg
# Pkg.add("DataFrames")
# Pkg.add("CSV")
# Pkg.add("Queryverse")
using DataFrames
using CSV
using Queryverse

In [3]:
# ler os dados
sp500 = CSV.read("data/sp500.csv", DataFrame)

497472×7 DataFrame. Omitted printing of 1 columns
│ Row    │ symbol │ date       │ open     │ high     │ low      │ close   │
│        │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├────────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1      │ AAL    │ 2014-01-02 │ 25.07    │ 25.82    │ 25.06    │ 25.36   │
│ 2      │ AAPL   │ 2014-01-02 │ 79.3828  │ 79.5756  │ 78.8601  │ 79.0185 │
│ 3      │ AAP    │ 2014-01-02 │ 110.36   │ 111.88   │ 109.29   │ 109.74  │
│ 4      │ ABBV   │ 2014-01-02 │ 52.12    │ 52.33    │ 51.52    │ 51.98   │
│ 5      │ ABC    │ 2014-01-02 │ 70.11    │ 70.23    │ 69.48    │ 69.89   │
│ 6      │ ABT    │ 2014-01-02 │ 38.09    │ 38.4     │ 38.0     │ 38.23   │
│ 7      │ ACN    │ 2014-01-02 │ 81.5     │ 81.92    │ 81.09    │ 81.13   │
│ 8      │ ADBE   │ 2014-01-02 │ 59.06    │ 59.53    │ 58.94    │ 59.29   │
│ 9      │ ADI    │ 2014-01-02 │ 49.52    │ 49.75    │ 49.04    │ 49.28   │
│ 10     │ ADM    │ 2014-01-02 │ 43.22    │ 43.29    │ 42.79    │ 42.99   │
⋮
│ 497462 │ XEL    │ 2017-12-29 │ 48.11    │ 48.29    │ 48.07    │ 48.11   │
│ 497463 │ XLNX   │ 2017-12-29 │ 68.5     │ 68.75    │ 67.4     │ 67.42   │
│ 497464 │ XL     │ 2017-12-29 │ 35.45    │ 35.45    │ 35.16    │ 35.16   │
│ 497465 │ XOM    │ 2017-12-29 │ 84.0     │ 84.2     │ 83.64    │ 83.64   │
│ 497466 │ XRAY   │ 2017-12-29 │ 66.3     │ 66.72    │ 65.77    │ 65.83   │
│ 497467 │ XRX    │ 2017-12-29 │ 29.4     │ 29.47    │ 29.12    │ 29.15   │
│ 497468 │ XYL    │ 2017-12-29 │ 68.53    │ 68.8     │ 67.92    │ 68.2    │
│ 497469 │ YUM    │ 2017-12-29 │ 82.64    │ 82.71    │ 81.59    │ 81.61   │
│ 497470 │ ZBH    │ 2017-12-29 │ 121.75   │ 121.95   │ 120.62   │ 120.67  │
│ 497471 │ ZION   │ 2017-12-29 │ 51.28    │ 51.55    │ 50.81    │ 50.83   │
│ 497472 │ ZTS    │ 2017-12-29 │ 72.55    │ 72.76    │ 72.04    │ 72.04   │

### Mensurando tempo de exeução da leitura dos dados

In [6]:
@time CSV.read("data/sp500.csv", DataFrame);

  0.137790 seconds (497.90 k allocations: 45.073 MiB)

In [17]:
first(sp500, 10)

10×7 DataFrame. Omitted printing of 1 columns
│ Row │ symbol │ date       │ open     │ high     │ low      │ close   │
│     │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├─────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ AAL    │ 2014-01-02 │ 25.07    │ 25.82    │ 25.06    │ 25.36   │
│ 2   │ AAPL   │ 2014-01-02 │ 79.3828  │ 79.5756  │ 78.8601  │ 79.0185 │
│ 3   │ AAP    │ 2014-01-02 │ 110.36   │ 111.88   │ 109.29   │ 109.74  │
│ 4   │ ABBV   │ 2014-01-02 │ 52.12    │ 52.33    │ 51.52    │ 51.98   │
│ 5   │ ABC    │ 2014-01-02 │ 70.11    │ 70.23    │ 69.48    │ 69.89   │
│ 6   │ ABT    │ 2014-01-02 │ 38.09    │ 38.4     │ 38.0     │ 38.23   │
│ 7   │ ACN    │ 2014-01-02 │ 81.5     │ 81.92    │ 81.09    │ 81.13   │
│ 8   │ ADBE   │ 2014-01-02 │ 59.06    │ 59.53    │ 58.94    │ 59.29   │
│ 9   │ ADI    │ 2014-01-02 │ 49.52    │ 49.75    │ 49.04    │ 49.28   │
│ 10  │ ADM    │ 2014-01-02 │ 43.22    │ 43.29    │ 42.79    │ 42.99   │

In [13]:
sp500[:, :close]

497472-element Array{Float64,1}:
  25.36
  79.0185
 109.74
  51.98
  69.89
  38.23
  81.13
  59.29
  49.28
  42.99
  79.86
  49.25
 262.34
   ⋮
 122.01
  48.11
  67.42
  35.16
  83.64
  65.83
  29.15
  68.2
  81.61
 120.67
  50.83
  72.04