# Julia

### DataFrames

Utilidade: Manipulação de dados.

In [1]:
# importando biblioteca
# using Pkg
# Pkg.add("DataFrames")
# Pkg.add("CSV")
# Pkg.add("Queryverse")
using DataFrames
using CSV
using Queryverse

In [86]:
# ler os dados
sp500 = CSV.read("data/sp500.csv", DataFrame)

497472×7 DataFrame. Omitted printing of 1 columns
│ Row    │ symbol │ date       │ open     │ high     │ low      │ close   │
│        │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├────────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1      │ AAL    │ 2014-01-02 │ 25.07    │ 25.82    │ 25.06    │ 25.36   │
│ 2      │ AAPL   │ 2014-01-02 │ 79.3828  │ 79.5756  │ 78.8601  │ 79.0185 │
│ 3      │ AAP    │ 2014-01-02 │ 110.36   │ 111.88   │ 109.29   │ 109.74  │
│ 4      │ ABBV   │ 2014-01-02 │ 52.12    │ 52.33    │ 51.52    │ 51.98   │
│ 5      │ ABC    │ 2014-01-02 │ 70.11    │ 70.23    │ 69.48    │ 69.89   │
│ 6      │ ABT    │ 2014-01-02 │ 38.09    │ 38.4     │ 38.0     │ 38.23   │
│ 7      │ ACN    │ 2014-01-02 │ 81.5     │ 81.92    │ 81.09    │ 81.13   │
│ 8      │ ADBE   │ 2014-01-02 │ 59.06    │ 59.53    │ 58.94    │ 59.29   │
│ 9      │ ADI    │ 2014-01-02 │ 49.52    │ 49.75    │ 49.04    │ 49.28   │
│ 10     │ ADM    │ 2014-01-02 │ 43.22    │ 43.29    │ 42.79    │ 42.99   │
⋮
│ 497462 │ XEL    │ 2017-12-29 │ 48.11    │ 48.29    │ 48.07    │ 48.11   │
│ 497463 │ XLNX   │ 2017-12-29 │ 68.5     │ 68.75    │ 67.4     │ 67.42   │
│ 497464 │ XL     │ 2017-12-29 │ 35.45    │ 35.45    │ 35.16    │ 35.16   │
│ 497465 │ XOM    │ 2017-12-29 │ 84.0     │ 84.2     │ 83.64    │ 83.64   │
│ 497466 │ XRAY   │ 2017-12-29 │ 66.3     │ 66.72    │ 65.77    │ 65.83   │
│ 497467 │ XRX    │ 2017-12-29 │ 29.4     │ 29.47    │ 29.12    │ 29.15   │
│ 497468 │ XYL    │ 2017-12-29 │ 68.53    │ 68.8     │ 67.92    │ 68.2    │
│ 497469 │ YUM    │ 2017-12-29 │ 82.64    │ 82.71    │ 81.59    │ 81.61   │
│ 497470 │ ZBH    │ 2017-12-29 │ 121.75   │ 121.95   │ 120.62   │ 120.67  │
│ 497471 │ ZION   │ 2017-12-29 │ 51.28    │ 51.55    │ 50.81    │ 50.83   │
│ 497472 │ ZTS    │ 2017-12-29 │ 72.55    │ 72.76    │ 72.04    │ 72.04   │

### Mensurando tempo de exeução da leitura dos dados

In [6]:
@time CSV.read("data/sp500.csv", DataFrame);

  0.137790 seconds (497.90 k allocations: 45.073 MiB)

#### Mostrando as 10 primeiras linhas

In [17]:
first(sp500, 10)

10×7 DataFrame. Omitted printing of 1 columns
│ Row │ symbol │ date       │ open     │ high     │ low      │ close   │
│     │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├─────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ AAL    │ 2014-01-02 │ 25.07    │ 25.82    │ 25.06    │ 25.36   │
│ 2   │ AAPL   │ 2014-01-02 │ 79.3828  │ 79.5756  │ 78.8601  │ 79.0185 │
│ 3   │ AAP    │ 2014-01-02 │ 110.36   │ 111.88   │ 109.29   │ 109.74  │
│ 4   │ ABBV   │ 2014-01-02 │ 52.12    │ 52.33    │ 51.52    │ 51.98   │
│ 5   │ ABC    │ 2014-01-02 │ 70.11    │ 70.23    │ 69.48    │ 69.89   │
│ 6   │ ABT    │ 2014-01-02 │ 38.09    │ 38.4     │ 38.0     │ 38.23   │
│ 7   │ ACN    │ 2014-01-02 │ 81.5     │ 81.92    │ 81.09    │ 81.13   │
│ 8   │ ADBE   │ 2014-01-02 │ 59.06    │ 59.53    │ 58.94    │ 59.29   │
│ 9   │ ADI    │ 2014-01-02 │ 49.52    │ 49.75    │ 49.04    │ 49.28   │
│ 10  │ ADM    │ 2014-01-02 │ 43.22    │ 43.29    │ 42.79    │ 42.99   │

#### Selecionando linhas

In [83]:
## selecionando as linhas 1, 10 e 100
sp500[[1, 10, 100],:]

3×7 DataFrame. Omitted printing of 1 columns
│ Row │ symbol │ date       │ open     │ high     │ low      │ close   │
│     │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├─────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ AAL    │ 2014-01-02 │ 25.07    │ 25.82    │ 25.06    │ 25.36   │
│ 2   │ ADM    │ 2014-01-02 │ 43.22    │ 43.29    │ 42.79    │ 42.99   │
│ 3   │ CME    │ 2014-01-02 │ 77.96    │ 78.75    │ 77.32    │ 77.96   │

In [87]:
## Remover as linhas 1, 10 e 100
sp500[Not([1, 10, 100]), :]

# deleta as linhas inplace
# delete!(sp500, [1, 10, 100])

497469×7 DataFrame. Omitted printing of 1 columns
│ Row    │ symbol │ date       │ open     │ high     │ low      │ close   │
│        │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├────────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1      │ AAPL   │ 2014-01-02 │ 79.3828  │ 79.5756  │ 78.8601  │ 79.0185 │
│ 2      │ AAP    │ 2014-01-02 │ 110.36   │ 111.88   │ 109.29   │ 109.74  │
│ 3      │ ABBV   │ 2014-01-02 │ 52.12    │ 52.33    │ 51.52    │ 51.98   │
│ 4      │ ABC    │ 2014-01-02 │ 70.11    │ 70.23    │ 69.48    │ 69.89   │
│ 5      │ ABT    │ 2014-01-02 │ 38.09    │ 38.4     │ 38.0     │ 38.23   │
│ 6      │ ACN    │ 2014-01-02 │ 81.5     │ 81.92    │ 81.09    │ 81.13   │
│ 7      │ ADBE   │ 2014-01-02 │ 59.06    │ 59.53    │ 58.94    │ 59.29   │
│ 8      │ ADI    │ 2014-01-02 │ 49.52    │ 49.75    │ 49.04    │ 49.28   │
│ 9      │ ADP    │ 2014-01-02 │ 80.17    │ 80.45    │ 79.38    │ 79.86   │
│ 10     │ ADSK   │ 2014-01-02 │ 49.33    │ 49.74    │ 48.88    │ 49.25   │
⋮
│ 497459 │ XEL    │ 2017-12-29 │ 48.11    │ 48.29    │ 48.07    │ 48.11   │
│ 497460 │ XLNX   │ 2017-12-29 │ 68.5     │ 68.75    │ 67.4     │ 67.42   │
│ 497461 │ XL     │ 2017-12-29 │ 35.45    │ 35.45    │ 35.16    │ 35.16   │
│ 497462 │ XOM    │ 2017-12-29 │ 84.0     │ 84.2     │ 83.64    │ 83.64   │
│ 497463 │ XRAY   │ 2017-12-29 │ 66.3     │ 66.72    │ 65.77    │ 65.83   │
│ 497464 │ XRX    │ 2017-12-29 │ 29.4     │ 29.47    │ 29.12    │ 29.15   │
│ 497465 │ XYL    │ 2017-12-29 │ 68.53    │ 68.8     │ 67.92    │ 68.2    │
│ 497466 │ YUM    │ 2017-12-29 │ 82.64    │ 82.71    │ 81.59    │ 81.61   │
│ 497467 │ ZBH    │ 2017-12-29 │ 121.75   │ 121.95   │ 120.62   │ 120.67  │
│ 497468 │ ZION   │ 2017-12-29 │ 51.28    │ 51.55    │ 50.81    │ 50.83   │
│ 497469 │ ZTS    │ 2017-12-29 │ 72.55    │ 72.76    │ 72.04    │ 72.04   │

#### Selecionando colunas

In [21]:
sp500.close
sp500."close"
sp500[!, :close]
sp500[!, "close"]

# se vc quiser fazer uma cópia da coluna
sp500[:, :close] # usar ":" no lugar de "!"

497472-element Array{Float64,1}:
  25.36
  79.0185
 109.74
  51.98
  69.89
  38.23
  81.13
  59.29
  49.28
  42.99
  79.86
  49.25
 262.34
   ⋮
 122.01
  48.11
  67.42
  35.16
  83.64
  65.83
  29.15
  68.2
  81.61
 120.67
  50.83
  72.04

In [114]:
# mais de uma coluna - preferível 
sp500[!, [:symbol, :close, :volume]]

# alternativa 
sp500[!, ["symbol", "close", "volume"]]

# select
select(sp500, [:symbol, :close, :volume])

# se quiser fazer o inplace, alterar o sp500 use "!"
# select!(sp500, [:symbol, :close, :volume])

497472×3 DataFrame
│ Row    │ symbol │ close   │ volume   │
│        │ String │ Float64 │ Int64    │
├────────┼────────┼─────────┼──────────┤
│ 1      │ AAL    │ 25.36   │ 8998943  │
│ 2      │ AAPL   │ 79.0185 │ 58791957 │
│ 3      │ AAP    │ 109.74  │ 542711   │
│ 4      │ ABBV   │ 51.98   │ 4569061  │
│ 5      │ ABC    │ 69.89   │ 1148391  │
│ 6      │ ABT    │ 38.23   │ 4967472  │
│ 7      │ ACN    │ 81.13   │ 2405384  │
│ 8      │ ADBE   │ 59.29   │ 2746370  │
│ 9      │ ADI    │ 49.28   │ 2799092  │
│ 10     │ ADM    │ 42.99   │ 2753765  │
⋮
│ 497462 │ XEL    │ 48.11   │ 2770633  │
│ 497463 │ XLNX   │ 67.42   │ 959640   │
│ 497464 │ XL     │ 35.16   │ 1017964  │
│ 497465 │ XOM    │ 83.64   │ 8523411  │
│ 497466 │ XRAY   │ 65.83   │ 917075   │
│ 497467 │ XRX    │ 29.15   │ 1537390  │
│ 497468 │ XYL    │ 68.2    │ 1046677  │
│ 497469 │ YUM    │ 81.61   │ 1347613  │
│ 497470 │ ZBH    │ 120.67  │ 1023624  │
│ 497471 │ ZION   │ 50.83   │ 1261916  │
│ 497472 │ ZTS    │ 72.04   │ 1704122  │

In [117]:
## removendo colunas específicas
sp500[!, Not([:high, :open])]

## select
select(sp500, Not([:high, :open]))

497472×5 DataFrame
│ Row    │ symbol │ date       │ low      │ close   │ volume   │
│        │ String │ Dates.Date │ Float64? │ Float64 │ Int64    │
├────────┼────────┼────────────┼──────────┼─────────┼──────────┤
│ 1      │ AAL    │ 2014-01-02 │ 25.06    │ 25.36   │ 8998943  │
│ 2      │ AAPL   │ 2014-01-02 │ 78.8601  │ 79.0185 │ 58791957 │
│ 3      │ AAP    │ 2014-01-02 │ 109.29   │ 109.74  │ 542711   │
│ 4      │ ABBV   │ 2014-01-02 │ 51.52    │ 51.98   │ 4569061  │
│ 5      │ ABC    │ 2014-01-02 │ 69.48    │ 69.89   │ 1148391  │
│ 6      │ ABT    │ 2014-01-02 │ 38.0     │ 38.23   │ 4967472  │
│ 7      │ ACN    │ 2014-01-02 │ 81.09    │ 81.13   │ 2405384  │
│ 8      │ ADBE   │ 2014-01-02 │ 58.94    │ 59.29   │ 2746370  │
│ 9      │ ADI    │ 2014-01-02 │ 49.04    │ 49.28   │ 2799092  │
│ 10     │ ADM    │ 2014-01-02 │ 42.79    │ 42.99   │ 2753765  │
⋮
│ 497462 │ XEL    │ 2017-12-29 │ 48.07    │ 48.11   │ 2770633  │
│ 497463 │ XLNX   │ 2017-12-29 │ 67.4     │ 67.42   │ 959640   │
│ 497464 │ XL     │ 2017-12-29 │ 35.16    │ 35.16   │ 1017964  │
│ 497465 │ XOM    │ 2017-12-29 │ 83.64    │ 83.64   │ 8523411  │
│ 497466 │ XRAY   │ 2017-12-29 │ 65.77    │ 65.83   │ 917075   │
│ 497467 │ XRX    │ 2017-12-29 │ 29.12    │ 29.15   │ 1537390  │
│ 497468 │ XYL    │ 2017-12-29 │ 67.92    │ 68.2    │ 1046677  │
│ 497469 │ YUM    │ 2017-12-29 │ 81.59    │ 81.61   │ 1347613  │
│ 497470 │ ZBH    │ 2017-12-29 │ 120.62   │ 120.67  │ 1023624  │
│ 497471 │ ZION   │ 2017-12-29 │ 50.81    │ 50.83   │ 1261916  │
│ 497472 │ ZTS    │ 2017-12-29 │ 72.04    │ 72.04   │ 1704122  │

### Selecionando linhas a partir de condições

In [33]:
sp500[sp500.volume .< 1000, :]

8×7 DataFrame. Omitted printing of 1 columns
│ Row │ symbol │ date       │ open     │ high     │ low      │ close   │
│     │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├─────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ WRK    │ 2015-06-26 │ missing  │ missing  │ missing  │ 61.9    │
│ 2   │ WRK    │ 2015-06-29 │ 60.92    │ 60.92    │ 60.8     │ 60.8    │
│ 3   │ DHR    │ 2016-01-12 │ missing  │ missing  │ missing  │ 88.55   │
│ 4   │ O      │ 2016-01-12 │ missing  │ missing  │ missing  │ 52.43   │
│ 5   │ UA     │ 2016-04-07 │ missing  │ missing  │ missing  │ 41.56   │
│ 6   │ FTV    │ 2016-07-01 │ missing  │ missing  │ missing  │ 49.54   │
│ 7   │ BHF    │ 2017-07-26 │ missing  │ missing  │ missing  │ 69.0842 │
│ 8   │ BHF    │ 2017-07-28 │ 67.26    │ 67.26    │ 67.26    │ 67.26   │

In [35]:
sp500[(sp500.volume .< 1000).&(sp500.close .> 60),:]

5×7 DataFrame. Omitted printing of 1 columns
│ Row │ symbol │ date       │ open     │ high     │ low      │ close   │
│     │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├─────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ WRK    │ 2015-06-26 │ missing  │ missing  │ missing  │ 61.9    │
│ 2   │ WRK    │ 2015-06-29 │ 60.92    │ 60.92    │ 60.8     │ 60.8    │
│ 3   │ DHR    │ 2016-01-12 │ missing  │ missing  │ missing  │ 88.55   │
│ 4   │ BHF    │ 2017-07-26 │ missing  │ missing  │ missing  │ 69.0842 │
│ 5   │ BHF    │ 2017-07-28 │ 67.26    │ 67.26    │ 67.26    │ 67.26   │

### Usando Queryverse

In [63]:
sp500 |>
    @filter(_.volume < 1000) |>
    DataFrame

8×7 DataFrame. Omitted printing of 1 columns
│ Row │ symbol │ date       │ open     │ high     │ low      │ close   │
│     │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├─────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ WRK    │ 2015-06-26 │ missing  │ missing  │ missing  │ 61.9    │
│ 2   │ WRK    │ 2015-06-29 │ 60.92    │ 60.92    │ 60.8     │ 60.8    │
│ 3   │ DHR    │ 2016-01-12 │ missing  │ missing  │ missing  │ 88.55   │
│ 4   │ O      │ 2016-01-12 │ missing  │ missing  │ missing  │ 52.43   │
│ 5   │ UA     │ 2016-04-07 │ missing  │ missing  │ missing  │ 41.56   │
│ 6   │ FTV    │ 2016-07-01 │ missing  │ missing  │ missing  │ 49.54   │
│ 7   │ BHF    │ 2017-07-26 │ missing  │ missing  │ missing  │ 69.0842 │
│ 8   │ BHF    │ 2017-07-28 │ 67.26    │ 67.26    │ 67.26    │ 67.26   │

In [62]:
sp500 |>
    @filter(_.volume < 1000 && _.close > 60) |>
    DataFrame

5×7 DataFrame. Omitted printing of 1 columns
│ Row │ symbol │ date       │ open     │ high     │ low      │ close   │
│     │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├─────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ WRK    │ 2015-06-26 │ missing  │ missing  │ missing  │ 61.9    │
│ 2   │ WRK    │ 2015-06-29 │ 60.92    │ 60.92    │ 60.8     │ 60.8    │
│ 3   │ DHR    │ 2016-01-12 │ missing  │ missing  │ missing  │ 88.55   │
│ 4   │ BHF    │ 2017-07-26 │ missing  │ missing  │ missing  │ 69.0842 │
│ 5   │ BHF    │ 2017-07-28 │ 67.26    │ 67.26    │ 67.26    │ 67.26   │

### Select

In [69]:
# Vamos selecionar as colunas que iniciam com v
sp500 |>
    @select(startswith("v")) |>
    DataFrame

  0.104276 seconds (271.57 k allocations: 16.317 MiB)

497472×1 DataFrame
│ Row    │ volume   │
│        │ Int64    │
├────────┼──────────┤
│ 1      │ 8998943  │
│ 2      │ 58791957 │
│ 3      │ 542711   │
│ 4      │ 4569061  │
│ 5      │ 1148391  │
│ 6      │ 4967472  │
│ 7      │ 2405384  │
│ 8      │ 2746370  │
│ 9      │ 2799092  │
│ 10     │ 2753765  │
⋮
│ 497462 │ 2770633  │
│ 497463 │ 959640   │
│ 497464 │ 1017964  │
│ 497465 │ 8523411  │
│ 497466 │ 917075   │
│ 497467 │ 1537390  │
│ 497468 │ 1046677  │
│ 497469 │ 1347613  │
│ 497470 │ 1023624  │
│ 497471 │ 1261916  │
│ 497472 │ 1704122  │

In [70]:
# Não vamos selecionar as colunas que iniciam com v
sp500 |>
    @select(!startswith("v")) |>
    DataFrame

497472×6 DataFrame
│ Row    │ symbol │ date       │ open     │ high     │ low      │ close   │
│        │ String │ Dates.Date │ Float64? │ Float64? │ Float64? │ Float64 │
├────────┼────────┼────────────┼──────────┼──────────┼──────────┼─────────┤
│ 1      │ AAL    │ 2014-01-02 │ 25.07    │ 25.82    │ 25.06    │ 25.36   │
│ 2      │ AAPL   │ 2014-01-02 │ 79.3828  │ 79.5756  │ 78.8601  │ 79.0185 │
│ 3      │ AAP    │ 2014-01-02 │ 110.36   │ 111.88   │ 109.29   │ 109.74  │
│ 4      │ ABBV   │ 2014-01-02 │ 52.12    │ 52.33    │ 51.52    │ 51.98   │
│ 5      │ ABC    │ 2014-01-02 │ 70.11    │ 70.23    │ 69.48    │ 69.89   │
│ 6      │ ABT    │ 2014-01-02 │ 38.09    │ 38.4     │ 38.0     │ 38.23   │
│ 7      │ ACN    │ 2014-01-02 │ 81.5     │ 81.92    │ 81.09    │ 81.13   │
│ 8      │ ADBE   │ 2014-01-02 │ 59.06    │ 59.53    │ 58.94    │ 59.29   │
│ 9      │ ADI    │ 2014-01-02 │ 49.52    │ 49.75    │ 49.04    │ 49.28   │
│ 10     │ ADM    │ 2014-01-02 │ 43.22    │ 43.29    │ 42.79    │ 42.99   │
⋮
│ 497462 │ XEL    │ 2017-12-29 │ 48.11    │ 48.29    │ 48.07    │ 48.11   │
│ 497463 │ XLNX   │ 2017-12-29 │ 68.5     │ 68.75    │ 67.4     │ 67.42   │
│ 497464 │ XL     │ 2017-12-29 │ 35.45    │ 35.45    │ 35.16    │ 35.16   │
│ 497465 │ XOM    │ 2017-12-29 │ 84.0     │ 84.2     │ 83.64    │ 83.64   │
│ 497466 │ XRAY   │ 2017-12-29 │ 66.3     │ 66.72    │ 65.77    │ 65.83   │
│ 497467 │ XRX    │ 2017-12-29 │ 29.4     │ 29.47    │ 29.12    │ 29.15   │
│ 497468 │ XYL    │ 2017-12-29 │ 68.53    │ 68.8     │ 67.92    │ 68.2    │
│ 497469 │ YUM    │ 2017-12-29 │ 82.64    │ 82.71    │ 81.59    │ 81.61   │
│ 497470 │ ZBH    │ 2017-12-29 │ 121.75   │ 121.95   │ 120.62   │ 120.67  │
│ 497471 │ ZION   │ 2017-12-29 │ 51.28    │ 51.55    │ 50.81    │ 50.83   │
│ 497472 │ ZTS    │ 2017-12-29 │ 72.55    │ 72.76    │ 72.04    │ 72.04   │

In [81]:
# Mais de uma condição
sp500 |>
    @select(startswith("c"), startswith("v")) |>
    DataFrame

497472×2 DataFrame
│ Row    │ close   │ volume   │
│        │ Float64 │ Int64    │
├────────┼─────────┼──────────┤
│ 1      │ 25.36   │ 8998943  │
│ 2      │ 79.0185 │ 58791957 │
│ 3      │ 109.74  │ 542711   │
│ 4      │ 51.98   │ 4569061  │
│ 5      │ 69.89   │ 1148391  │
│ 6      │ 38.23   │ 4967472  │
│ 7      │ 81.13   │ 2405384  │
│ 8      │ 59.29   │ 2746370  │
│ 9      │ 49.28   │ 2799092  │
│ 10     │ 42.99   │ 2753765  │
⋮
│ 497462 │ 48.11   │ 2770633  │
│ 497463 │ 67.42   │ 959640   │
│ 497464 │ 35.16   │ 1017964  │
│ 497465 │ 83.64   │ 8523411  │
│ 497466 │ 65.83   │ 917075   │
│ 497467 │ 29.15   │ 1537390  │
│ 497468 │ 68.2    │ 1046677  │
│ 497469 │ 81.61   │ 1347613  │
│ 497470 │ 120.67  │ 1023624  │
│ 497471 │ 50.83   │ 1261916  │
│ 497472 │ 72.04   │ 1704122  │

### Groupby

#### Calculando estatísticas

In [45]:
using Statistics

In [125]:
## Descrevendo as estatísticas básicas
describe(sp500)

7×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median   │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…   │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ symbol   │           │ A          │          │ ZTS        │ 505     │
│ 2   │ date     │           │ 2014-01-02 │          │ 2017-12-29 │ 1007    │
│ 3   │ open     │ 86.3523   │ 1.62       │ 64.97    │ 2044.0     │         │
│ 4   │ high     │ 87.1326   │ 1.69       │ 65.56    │ 2067.99    │         │
│ 5   │ low      │ 85.5525   │ 1.5        │ 64.3537  │ 2035.11    │         │
│ 6   │ close    │ 86.3691   │ 1.59       │ 64.98    │ 2049.0     │         │
│ 7   │ volume   │ 4.25361e6 │ 0          │ 2.0849e6 │ 618237630  │         │

In [123]:
# vamos fazer o grupo por symbol e calcular a média do volume
@time sp500 |>
    @groupby(_.symbol) |> 
    @map({Key=key(_), media=mean(_.volume)}) |>
    DataFrame

  0.174494 seconds (796.33 k allocations: 67.809 MiB)

505×2 DataFrame
│ Row │ Key    │ media     │
│     │ String │ Float64   │
├─────┼────────┼───────────┤
│ 1   │ AAL    │ 9.75152e6 │
│ 2   │ AAPL   │ 4.51696e7 │
│ 3   │ AAP    │ 1.13731e6 │
│ 4   │ ABBV   │ 8.40884e6 │
│ 5   │ ABC    │ 2.02013e6 │
│ 6   │ ABT    │ 6.87753e6 │
│ 7   │ ACN    │ 2.48515e6 │
│ 8   │ ADBE   │ 2.86483e6 │
│ 9   │ ADI    │ 2.52162e6 │
│ 10  │ ADM    │ 3.5323e6  │
⋮
│ 495 │ CSRA   │ 1.27557e6 │
│ 496 │ WLTW   │ 792991.0  │
│ 497 │ UA     │ 3.24708e6 │
│ 498 │ FTV    │ 1.5095e6  │
│ 499 │ EVHC   │ 2.2515e6  │
│ 500 │ HLT    │ 2.58803e6 │
│ 501 │ DXC    │ 2.03884e6 │
│ 502 │ BHGE   │ 3.86473e6 │
│ 503 │ BHF    │ 1.04844e6 │
│ 504 │ DWDP   │ 7.64596e6 │
│ 505 │ APTV   │ 2.01704e6 │

In [126]:
# ordenando de forma decrescente
sp500 |>
    @groupby(_.symbol) |> 
    @map({Key=key(_), media=mean(_.volume)}) |>
    @orderby_descending(_.media) |>
    DataFrame

505×2 DataFrame
│ Row │ Key    │ media     │
│     │ String │ Float64   │
├─────┼────────┼───────────┤
│ 1   │ BAC    │ 8.93629e7 │
│ 2   │ AAPL   │ 4.51696e7 │
│ 3   │ GE     │ 4.14439e7 │
│ 4   │ AMD    │ 3.32895e7 │
│ 5   │ F      │ 3.29143e7 │
│ 6   │ MSFT   │ 3.07126e7 │
│ 7   │ FB     │ 2.92278e7 │
│ 8   │ MU     │ 2.79628e7 │
│ 9   │ CHK    │ 2.78854e7 │
│ 10  │ INTC   │ 2.71611e7 │
⋮
│ 495 │ AMG    │ 472021.0  │
│ 496 │ ANSS   │ 466013.0  │
│ 497 │ ROP    │ 464292.0  │
│ 498 │ IT     │ 463316.0  │
│ 499 │ SNA    │ 448825.0  │
│ 500 │ FRT    │ 424500.0  │
│ 501 │ ESS    │ 403200.0  │
│ 502 │ RE     │ 338281.0  │
│ 503 │ HII    │ 333141.0  │
│ 504 │ AZO    │ 321177.0  │
│ 505 │ MTD    │ 171920.0  │

In [161]:
estatisticas = sp500 |>
    @groupby(_.symbol) |> 
    @map({Key=key(_), mean=mean(_.close), std=std(_.close)}) |>
    DataFrame

505×3 DataFrame
│ Row │ Key    │ mean    │ std     │
│     │ String │ Float64 │ Float64 │
├─────┼────────┼─────────┼─────────┤
│ 1   │ AAL    │ 42.4249 │ 6.06325 │
│ 2   │ AAPL   │ 116.84  │ 24.5473 │
│ 3   │ AAP    │ 143.187 │ 24.6107 │
│ 4   │ ABBV   │ 63.3383 │ 10.4973 │
│ 5   │ ABC    │ 87.0244 │ 12.7378 │
│ 6   │ ABT    │ 44.0726 │ 4.74224 │
│ 7   │ ACN    │ 105.222 │ 19.1827 │
│ 8   │ ADBE   │ 97.3903 │ 31.243  │
│ 9   │ ADI    │ 63.2604 │ 12.1884 │
│ 10  │ ADM    │ 43.8507 │ 4.47131 │
⋮
│ 495 │ CSRA   │ 28.7223 │ 2.88101 │
│ 496 │ WLTW   │ 132.79  │ 14.4033 │
│ 497 │ UA     │ 24.3407 │ 9.17689 │
│ 498 │ FTV    │ 60.1965 │ 7.89642 │
│ 499 │ EVHC   │ 54.2177 │ 12.6895 │
│ 500 │ HLT    │ 64.5173 │ 6.6368  │
│ 501 │ DXC    │ 84.0237 │ 7.57682 │
│ 502 │ BHGE   │ 33.9623 │ 3.23644 │
│ 503 │ BHF    │ 59.5476 │ 3.85972 │
│ 504 │ DWDP   │ 70.4711 │ 1.67891 │
│ 505 │ APTV   │ 85.1    │ 1.19473 │

### Renomeando colunas

In [165]:
estatisticas |>
    @rename(:Key => :ticker, 
            :mean => :media, 
            :std => :desvio) |>
    DataFrame

505×3 DataFrame
│ Row │ ticker │ media   │ desvio  │
│     │ String │ Float64 │ Float64 │
├─────┼────────┼─────────┼─────────┤
│ 1   │ AAL    │ 42.4249 │ 6.06325 │
│ 2   │ AAPL   │ 116.84  │ 24.5473 │
│ 3   │ AAP    │ 143.187 │ 24.6107 │
│ 4   │ ABBV   │ 63.3383 │ 10.4973 │
│ 5   │ ABC    │ 87.0244 │ 12.7378 │
│ 6   │ ABT    │ 44.0726 │ 4.74224 │
│ 7   │ ACN    │ 105.222 │ 19.1827 │
│ 8   │ ADBE   │ 97.3903 │ 31.243  │
│ 9   │ ADI    │ 63.2604 │ 12.1884 │
│ 10  │ ADM    │ 43.8507 │ 4.47131 │
⋮
│ 495 │ CSRA   │ 28.7223 │ 2.88101 │
│ 496 │ WLTW   │ 132.79  │ 14.4033 │
│ 497 │ UA     │ 24.3407 │ 9.17689 │
│ 498 │ FTV    │ 60.1965 │ 7.89642 │
│ 499 │ EVHC   │ 54.2177 │ 12.6895 │
│ 500 │ HLT    │ 64.5173 │ 6.6368  │
│ 501 │ DXC    │ 84.0237 │ 7.57682 │
│ 502 │ BHGE   │ 33.9623 │ 3.23644 │
│ 503 │ BHF    │ 59.5476 │ 3.85972 │
│ 504 │ DWDP   │ 70.4711 │ 1.67891 │
│ 505 │ APTV   │ 85.1    │ 1.19473 │